#frame-manager-wrapper {
    position: absolute;
    bottom: 0;
    left: 320px;
    right: 320px;
    padding:8px;
    background-color: rgb(51, 51, 51, 0.6);
    border-radius: 4px 4px 0 0;
}

#frame-manager-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#frame-manager-pagination {
    display: flex;
    height: 90%;
    min-width: 120px;
    border-radius: 3px;
    align-items: center;
    color: #fff;
    border: 1px solid rgb(102, 107, 124);
    background-color: rgb(44, 45, 46);
}

#frame-manager-previous,
#frame-manager-next {
    display: flex;
    padding: 5px;
    align-items: center;
}

#frame-manager-index,
#frame-manager-length {
   flex-shrink: 0;
   margin-right:5px;
    min-width:36px;
    padding: 0 4px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    outline: none;
    border-radius: 3px;
    text-align: center;
    /* border: 1px solid rgb(102, 107, 124); */
    border:none;
    background-color: rgb(57, 59, 62);
}
#frame-manager-index{
  width:36px;
}
#frame-manager-length{
  margin-left: 5px;
  margin-right:0
}

#frame-manager-list {
    display: flex;
    overflow-x: auto;
    align-items: center;
    margin: 4px 0 0;
}

#frame-manager-list::-webkit-scrollbar {
    height: 8px;
    margin: 30px;
    border-radius: 10px;
    background: rgb(44, 45, 46);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#frame-manager-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(102, 107, 124);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#frame-manager-list div {
    height: 28px;
    min-width: 30px;
    border-radius: 3px;
    text-align: center;
}

.frame-list-div {
    cursor: pointer;
    color: rgb(255, 255, 255, 0.6);
    background-color: rgb(44, 45, 46);
    border: 1px solid rgb(255, 255, 255, 0.4);
}

#frame-manager-list div:not(:first-child) {
    margin-left: 4px;
}

.frame-reject {
  color:rgb(221, 97, 97);
  background:rgb(44, 45, 46);
  border: 1px solid rgb(221, 97, 97);
}

.frame-suspend {
  color:#ffffff;
  background-color: rgb(44, 45, 46);
  border: 1px solid #e58500;
}

.frame-complete {
  color:rgb(51, 152, 113);
  background-color: rgb(44, 45, 46);
  border: 1px solid rgb(51, 152, 113);
}

.frame-manager-choosen {
  cursor: not-allowed;
  color: #fff;
  border-color: rgb(70, 111, 255);
  background-color: rgb(70, 111, 255);
}

#frame-manager-list div:hover {
  color: #fff;
  border-color: rgb(70, 111, 255);
  background-color: rgb(82, 106, 235);
}
