@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.el-my-10 {
  margin: 10px 0;
}

.el-mb-10 {
  margin-bottom: 10px;
}

.el-menu-item,
.el-submenu__title {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

// pageContainer组件公共样式
.page-container {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .page-title {
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;

    svg {
      margin-right: 10px;
    }
  }
  .page-content-area {
    padding: 15px;
    flex-grow: 1;

    &.overflow-y-auto{
      overflow-y: auto;
    }
  }
  .page-search-area {
    padding: 0 15px;
    & + .page-content-area {
      padding-top: 0;
    }
  }
}
// 弹窗公共加border
.el-dialog-border{
  .el-dialog__header{
    border-bottom: 1px solid #F1F2F4;
  }
  .el-dialog__footer {
    border-top: 1px solid #F1F2F4;
  }
}
// 进度条公共样式
.el-progress-class.progress-container {
  display: flex;
  justify-content: space-between;

  .progress-label{
    width:64px;
    text-align:justify;
    text-align-last:justify;
  }
  .el-progress {
    flex-grow: 1;
    display: flex;
    align-items: center;
    .el-progress-bar {
      flex-grow: 1;
    }
    .el-progress__text{
      width:112px;
      flex-shrink: 0;
      text-align: right;
    }
  }
}
