.login-container {
  width: 100%;
  //min-height: 900px;
  height: 100%;
  background: linear-gradient(270deg, #2b53b8 1%, #0a0c81 100%);
}

* {
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  height: 100%;
  background: no-repeat url('../../assets/images/backgroundImg.png');
  background-size: contain;
  object-fit: contain;
}

header img {
  width: 22%;
  height: 120px;
  opacity: 0.8;
  object-fit: contain;
  position: fixed;
  top: 0;
  left: 0;
}

main {
  height: 100vh;
  background: no-repeat url('../../assets/images/backImg.png');
  background-size: 80% 90%;
  background-position: left bottom;
  display: flex;
  align-items: center;
  .log-box {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 6vw;
    display: flex;
    background: rgba(255,255,255,0.96);
    border-radius: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: stretch;
    width: 480px;
    height: 520px;

    @media only screen and (max-width: 1366px) {
      width: 400px;
      height: 460px;
    }

    h2 {
      width: 100%;
      height: 36px;
      text-align: center;
      font-size: 36px;
      transform: translateY(50px);
    }

    ::v-deep .el-form {
      flex-grow: 1;
      overflow: hidden;
      padding:120px 48px 24px;
      @media only screen and (max-width: 1366px) {
        padding: 80px 30px 10px;
      }
      .el-row {
        height: 100%;
        .el-col {
          &:nth-child(n + 2) {
            margin-top: 46px;
            @media only screen and (max-width: 1366px) {
              margin-top: 32px;
            }
          }
          .el-form-item {
            width: 100%;
            .el-form-item__content {
              width: 100%;

              .login-input .el-input__inner {
                height: 60px;
                width: 100%;
                border: 1px solid #eeeeee;
                color: #b9bed1;
              }
            }
          }
        }
      }
    }
  }
}

.log-box {
  .el-button {
    width: 100%;
    text-align: center;
  }
  .inputBtn1 {
    height: 60px;
    font-size: 22px;
    background: linear-gradient(90deg, #243df8 1%, #0c7cf9 98%);
  }
  .inputBtn2 {
    border: none;
    font-size: 18px;
    color: #b9bed1;
  }
}
