
.login-container {
  width: 100%;
  //min-height: 900px;
  height: 100%;
  background: linear-gradient(270deg, #2B53B8 1%, #0A0C81 100%);
}

* {
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  height: 100%;
  background: no-repeat url('../../assets/images/backgroundImg.png');
  background-size: contain;
  object-fit: contain;
}

header img {
  width: 22%;
  height: 114px;
  margin: 30px 0 0 30px;
  opacity: 0.8;
  object-fit: contain;
}

main {
  height: calc(100% - 149px);
  background: no-repeat url("../../assets/images/backImg.png");
  background-size: contain;
  object-fit: contain;
  display: flex;
  align-items: center;
  flex: 1;
  .logBox {
    margin-right: 6%;
    margin-left: auto;
    display: flex;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    flex-direction: column;
    width: 500px;
    height: 550px;

    h2 {
      width: 100%;
      height: 36px;
      text-align: center;
      font-size: 36px;
      transform: translateY(50px);
    }

    ::v-deep .el-form {
      padding: 60px;

      .el-row {
        .el-col {
          .el-form-item {
            width: 100%;

            .el-form-item__content {
              width: 100%;

              .login-input .el-input__inner {
                height: 60px;
                width: 100%;
                border: 1px solid #EEEEEE;
                color: #B9BED1;
                margin-top: 40px;
              }
            }
          }
        }
      }
    }
  }
}

.logBox p {
  .el-button {
    width: 100%;
    text-align: center;
  }
  .inputBtn1 {
    height: 60px;
    font-size: 22px;
    margin-top: 80px;
    background: linear-gradient(90deg, #243DF8 1%, #0C7CF9 98%);
  }
  .inputBtn2 {
    border: none;
    margin-top: 30px;
    margin-bottom: 48px;
    font-size: 18px;
    color: #B9BED1;
  }
}
